[build]
builder = "nixpacks"
buildCommand = "npm install && npx prisma generate --schema=./prisma/schema.prisma && npm run build:backend"

[deploy]
startCommand = "npm run start"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

[env]
NODE_ENV = "production"
